:root {
    --global-background: hsl(240, 11%, 96%);
}

/* Global styling */
* {
    font-family: "Outfit", sans-serif;
    background-color: white;
}

/* Hide the arrows on the number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#title {
    background: linear-gradient(80deg, #42d392, #647eff);
    /* background: linear-gradient(
        80deg,
        #f06844,
        #ee4c54,
        #d45e95,
        #9c6ca6,
        #6583c1
    ); */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Animate gradient background */
    background-size: 200% auto;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-content {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    /* grid-template-columns: minmax(auto, 0.1fr) 1fr 0.1fr; */
    /* grid-template-columns: minmax(0, 0.1fr) minmax(0, 1fr) minmax(0, 0.11fr); */
    grid-template-columns: 0.1fr minmax(1fr, auto) 0.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 3px 3px 4px 0.5px;
    padding: 1rem;
}

.main-content,
.main-content *:not(input, select) {
    background: var(--global-background);
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.colon {
    font-size: 1.5rem;
}

.label {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 1.25rem;
}

.time {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
}

.distance {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;
}
#distance-input {
    width: 11.75rem;
}
#distance-unit {
    grid-row: 2/3;
    grid-column: 3/4;
}

.pace {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: end;
}
#pace-unit {
    grid-row: 3/4;
    grid-column: 3/4;
}

input {
    all: unset;
    grid-column: 2/3;
    background-color: hsl(240, 11%, 98%);
    border-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-width: 0.13rem;
    border-radius: 0.8rem;
    text-align: right;
    width: 5rem;
    font-size: 2rem;
    /* font-size: 1.5rem; */
    padding: 0.2rem;
    padding-right: 0.5rem;
    outline: none;
    transition: box-shadow 0.15s linear;
}

input:focus {
    box-shadow: 0px 0px 4px 0.5px #42d392;
    transition: box-shadow 0.125s linear;
}

input::placeholder {
    opacity: 0.35;
}

input:focus::placeholder {
    opacity: 0;
}

select {
    outline: none;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.4rem;
    padding-right: 0;
    font-size: 1rem;
    width: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 auto;
}

#mh-signature {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    flex: auto 0;
}
