:root {
    --page-background: hsl(0, 0%, 100%);
    --content-background: hsl(0, 0%, 96%);
    /* --content-background: hsl(240, 10%, 28%); */
    --text-color: hsl(0, 0%, 0%);
    --color-transition-time: 200ms;
    --color-transition-style: linear;
}

.dark {
    --page-background: hsl(0, 0%, 17%);
    --content-background: hsl(0, 0%, 27%);
    --text-color: hsl(0, 0%, 60%);
}

/* Global styling */
* {
    font-family: "Outfit", sans-serif;
    background-color: var(--page-background);
}

/* Hide the arrows on the number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#title {
    background: linear-gradient(80deg, #42d392, #647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* Animate gradient background */
    background-size: 200% auto;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.toggle-color-scheme {
    cursor: pointer;
    color: var(--text-color);
    background-color: transparent;
    font-size: 2.2rem;
    user-select: none;
}

.main-content {
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    width: fit-content;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 3px 3px 4px 0.5px;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.main-content,
.main-content *:not(input, select) {
    background: var(--content-background);
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.colon {
    font-size: 1.5rem;
}

.label {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    font-size: 1.25rem;
    color: var(--text-color);
}

.time {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
}

.distance {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;
}
#distance-input {
    width: 11.75rem;
}
#distance-unit {
    grid-row: 2/3;
    grid-column: 3/4;
}

.pace {
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: end;
}
#pace-unit {
    grid-row: 3/4;
    grid-column: 3/4;
}

input {
    all: unset;
    grid-column: 2/3;
    color: var(--text-color);
    background-color: var(--page-background);
    border-color: hsl(0, 0%, 0%);
    border-style: solid;
    border-width: 0.13rem;
    border-radius: 0.8rem;
    text-align: right;
    width: 5rem;
    font-size: 2rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    outline: none;
    transition: box-shadow 0.15s linear;
}

input:focus {
    box-shadow: 0px 0px 4px 0.5px black;
    transition: box-shadow 0.125s linear;
}

input::placeholder {
    opacity: 0.35;
    color: var(--text-color);
    /* color: white; */
}

input:focus::placeholder {
    opacity: 0;
}

select {
    color: var(--text-color);
    outline: none;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.4rem;
    padding-right: 0;
    font-size: 1rem;
    width: fit-content;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 auto;
}

#mh-signature {
    padding-bottom: 0.5rem;
    flex: auto 0;
}

#signature-message {
    color: var(--text-color);
}
#signature-path {
    stroke: var(--text-color);
}

body * {
    transition: color var(--color-transition-time) var(--color-transition-style);
    transition: background-color var(--color-transition-time)
        var(--color-transition-style);
}

@media screen and (max-width: 650px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        row-gap: 1rem;
        column-gap: 2rem;
        width: fit-content;
        height: auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        padding: 0.9rem;
    }

    input {
        width: 4.5rem;
        font-size: 1.5rem;
    }

    #time-label {
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .time {
        grid-row: 2/3;
        grid-column: 1/4;
        justify-self: center;
    }

    #distance-label {
        grid-row: 3/4;
        grid-column: 1/4;
    }
    .distance {
        grid-row: 4/5;
        grid-column: 1/4;
        justify-self: center;
    }
    #distance-input {
        width: 11.75rem;
    }
    #distance-unit {
        grid-row: 5/6;
        grid-column: 1/4;
        justify-self: center;
    }

    #pace-label {
        grid-row: 6/7;
        grid-column: 1/4;
    }
    .pace {
        grid-row: 7/8;
        grid-column: 1/4;
        justify-self: center;
    }
    #pace-unit {
        grid-row: 8/9;
        grid-column: 1/4;
    }
}

@media screen and (max-width: 370px) {
    input {
        width: 4.5rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 330px) {
    input {
        width: 3.5rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 300px) {
    input {
        width: 3rem;
        font-size: 1rem;
    }
}
